.container {
  display: flex;
  flex-direction: column;
}

.cabecera {
  display: flex;

  align-items: center;

  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  color: white;

  background-color: #d90429;
}

.footer {
  display: flex;
  justify-content: space-around;

  font-size: 1.1em;
  background-color: #d90429;

  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  color: white;

  padding: 1em;
}

#titulo__principal {
  font-weight: 700;
  font-size: 2em;
}

#icono {
  height: 100px;
  width: auto;
  padding-right: 20px;
}

.container__informaciones {
  display: grid;
  font-family: "Poppins", sans-serif;
  font-style: normal;

  font-weight: 300;
  font-size: 1.2em;
  padding: 0.5em;

  text-align: justify;
}

.informacion {
  margin: 0 auto;
}

.formulario {
  font-family: "Poppins", sans-serif;
  font-style: normal;

  font-weight: 300;
  font-size: 10pt;

  background: #f5f3f4;
  display: flex;
}

.formulario__container {
  width: 50%;
  height: 100%;

  font-size: 1.3em;
}

#tablaHistorico {
  font-family: "Be Vietnam Pro", sans-serif;
  border-collapse: collapse;
  /* width: 100%; */

  background: #f5f3f4;
  display: flex;
  justify-content: center;
  padding: 2em;
}

#tablaHistorico table {
  width: 30em; 
  text-align: center;
}

#tablaHistorico td,
#tablaHistorico th {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
}

#tablaHistorico tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tablaHistorico tr:hover {
  background-color: #ddd;
}

#tablaHistorico th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

#tablaHistorico tbody {
  font-family: "Poppins", sans-serif;
}

#resultado_imc,
#categoria,
#recomendacion {
  font-weight: 700;
  font-size: 20pt;
  text-align: center;
  justify-content: center;
  height: 100%;
}

#resultado_imc {
  margin-top: 3.2em;
}

input {
  font-size: 1em !important;
  padding: 0.4em;
}

#titulo__calculadora {
  padding-left: 20px;
  font-weight: 500;
  font-size: 1.9em;
}

.informacion {
  padding: 10px 20px;
}

#peso_usuario,
#altura_usuario {
  height: 30px;
  width: 100%;

  border-radius: 22px;
  border-width: 1px;
  border-color: lightgrey;

  font-family: "Poppins", sans-serif;
  font-style: normal;

  font-weight: 300;
  font-size: 10pt;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.boton_enviar {
  height: 40px;

  flex: 1;
  margin: 0.4em;

  border-radius: 10px;
  border-width: 0px;

  background: #d90429;

  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: white;

  transition: background-color 0.4s ease;
}

.boton_enviar:hover:enabled {
  background: #ef233c;
  cursor: pointer;
}

.boton_enviar:disabled {
  background: #aaaaaa;
}
